*.sketch
*.fig
*.xd

/node_modules
/.pnp
.pnp.js
yarn.debug.log*
yarn.error.log*
npm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/coverage

/build
/dist
/.next
/out

/.idea
/.vscode
*.swp
*.swo

*.log
*.pem
.DS_Store
Thumbs.db